/* CSS Reset */
  * { margin:0; padding:0; }
  
body {
    background:#59d3fa url(../images/body_bg.jpg) repeat-x 0 0;
}
.container { width: 950px; margin: 0 auto; }
.column { float: left; margin-right: 10px; }
.span-19 { width: 750px; }
.span-2 { width: 70px; }
.span-14 { width: 550px; }
#searchpanel { float: left; margin-right: 10px; width: 150px; } 
#homepanel { float: left; margin-right: 10px; width: 70px; } 
#aboutpanel { float: left; margin-right: 10px; width: 70px; } 
#loginsignup { float: left; margin-right: 10px; margin-right: 0; width: 110px; } 
#logopanel { float: left; margin-right: 10px; margin-right: 0; width: 230px; } 